<html>
<head>
<link rel="stylesheet" href="../static/styles/style.css">
</head>
  <header>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </header>
 <body>
    <div class='wrapper'>
<!--      A = <input type="number" id="input_A">-->
<!--      B = <input type="number" id="input_B">-->
      <button class='get_result'>Refresh article</button>
<!--      <div class='source_text'></div><div class='result_text'></div>-->


<!--        <div class='result'></div>-->
<!--        <div id="row">-->
        <div class="sourcetext"></div>
        <div class="resulttext"></div>
        <div class="imagetext"></div>
<!--        </div>-->

    </div>
 </body>
 <script>
    $(document).ready(function(){
      $('.wrapper').on('click', '.get_result', function(){
         // var val1 = $("#input_A").val();
         // var val2 = $("#input_B").val();
         $.ajax({
          url: "/calculate_result",
          type: "get",
          data: {},
          success: function(response) {
            $(".sourcetext").html('<p>'+response.source.toString()+'</p>');
            $(".resulttext").html('<p>'+response.target.toString()+'</p>');
            $(".imagetext").html('<p>'+response.image.toString()+'</p>');
          },
         });




      });
    });
 </script>
</html>